<div id="prev-next row">
    <div class="col-md-2">
        <button type="button" class="btn btn-default btn-lg" ng-show="prev !== null" ng-click="goPrev()">Anterior</button>
    </div>

    <div class="col-md-8">
        <h3 class="text-center" style="margin-top: 15px;" ng-show="curSnippetNo !== null">{{curSnippetNo}}</h3>
    </div>

    <div class="col-md-2 text-right">
        <button type="button" class="btn btn-success btn-lg" ng-show="next !== null" ng-click="goNext()">Próximo</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-md-12" ng-include="curSnippet"></div>
</div>